<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wildlife Tracking Foundation</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
  </head>
  <body>
    <h1 id="mainHeader"><a href="/">Ranger Pete Jones' Wildlife Tracker</a></h1>
    <div class="jumbotron">
      <div class="container">

      #parse( $template )

      </div>
    </div>
  </body>
</html>
